{{ define "main" }}
    {{ with .OutputFormats.Get "rss" }}
        <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS" class="rss-link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                <path d="M4 11a9 9 0 0 1 9 9" />
                <path d="M4 4a16 16 0 0 1 16 16" />
                <circle cx="5" cy="19" r="1" />
            </svg>
        </a>
    {{ end }}
    <ul class="posts">
        {{ range .Pages.ByPublishDate.Reverse }}
            <li>
                <span class="post-date">{{ .PublishDate | time.Format ":date_medium" }}</span>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <span class="post-description">{{ .Params.description }}</span>
            </li>
        {{ end }}
    </ul>
{{ end }}
